<nav id="bar">
    <ul>
        <li id="elements"><a href="/">Home</a></li>
        <li id="elements"><a href="/omar">Omar Ryyan</a></li>
        <li id="elements"><a href="/alexandre">Alexandre Cabanel</a></li>
        <li id="elements"><a href="/max">Max Ernst</a></li>
        <li id="elements"><a href="/jan">Jan Van</a></li>
    </ul>
</nav>