{{> head}}

<body>
    <header>
      {{> navbar}}    
    </header>

    <main>
        <section class="flexb">
            <article class="box">
                <div id="image" style="background-image: url(images/OmarRayyan_perfil.jpg);">
                    <div id="text">
                        <div id="lab">
                            <h3 style="color: black;">Omar Ryyan</h3>
                        </div>
                        <span class="button">
                            <a href="/omar">Ver Mas</a>
                        </span>
                    </div>
                </div>
            </article>
            <article class="box">
                <div id="image" style="background-image: url(images/AlexandreCabanel_perfil.jpg);">
                    <div id="text">
                        <div id="lab">
                            <h3>Alexandre Cabanel</h3>
                        </div>
                        <span class="button">
                            <a href="/alexandre">Ver Mas</a>
                        </span>
                    </div>
                </div>
            </article>
            <article class="box">
                <div id="image" style="background-image: url(images/MaxErnst_perfil.jpg);">
                    <div id="text">
                        <div id="lab">
                            <h3>Max Ernst</h3>
                        </div>
                        <span class="button">
                            <a href="/max">Ver Mas</a>
                        </span>
                    </div>
                </div>
            </article>
            <article class="box">
                <div id="image" style="background-image: url(images/JanVan_1.jpg);">
                    <div id="text">
                        <div id="lab">
                            <h3>Jan van Eyck</h3>
                        </div>
                        <span class="button">
                            <a href="/Jan">Ver Mas</a>
                        </span>
                    </div>
                </div>
            </article>
        </section>
        <section class="pinturas">
            <article class="pbox">
                <div id="pintor">
                    <img src="images/OmarRayyan_perfil.jpg" alt="">
                </div>
                <div id="btext">
                    <h1 id="Omar">Omar Ryyan</h1>
                    <p>
                        Una vez que se graduó de la Escuela de Diseño de Rhode Island, Omar Rayyan se asentó en la isla de Martha Vineyard al lado de su esposa Sheila (otra artista cuyo trabajo se puede encontrar en motherspoon.com). El entorno bucólico complementaría y ayudaría a inspirar su estética del «viejo mundo» en la pintura.<br><br>
                        Después de haber creado ilustraciones para muchos editores, incluyendo Simon & Schuster, Random House y Hyperion / Disney, el principal mercado de Omar está dirigido a las revistas y libros de niños y jóvenes adultos, teniendo a su cargo la creación del arte en las portadas y las ilustraciones interiores.<br><br>
                        Otros géneros en los que se ha desempeñado incluyen en el mercado de los juegos, sobre todo para Magic: The Gathering, en el que trabajó diseñando el arte de las tarjetas y trabajos conceptuales. Omar también fue uno de los talentosos artistas que contribuyeron con el concepto artístico y creación del look de la película «El León, la Bruja y el Armario«.<br><br>
                        Además de su trabajo comercial, la obra favorita de Omar no está creada para los editores, sino solo para su exhibición. Pinturas que nacen del capricho y la fantasía hacen que cualquiera se vea interesado en saber quien las creó.
                    </p>
                </div>
            </article>
            <article class="pbox">
                <div id="pintor">
                    <img src="images/AlexandreCabanel_perfil.jpg" alt="">
                </div>
                <div id="btext">
                    <h1 id="Alexandre">Alexandre Cabanel</h1>
                    <p>
                        Nació en Montpellier, Francia, el 28 de septiembre de 1823. Se formó en L’ École des Beaux-Arts de París, en la que tuvo como maestro a François-Édouard Picot. En 1845 obtuvo una segunda medalla en el Salón Roma, lo que hizo posible una estancia en Villa Médicis durante cinco años. Su temática más frecuente fueron los temas históricos, mitológicos, de género, retratos y algunos religiosos. La fama le llegaría con la que es considerada su obra maestra «El nacimiento de Venus», que sería adquirido por Napoleón III en 1863. <br>
                        Ese mismo año  fue nombrado profesor de L’École des Beaux-Arts y miembro de la Academia de Bellas Artes, y actuó como miembro del jurado en el Salón de París varios años, certamen en el que obtuvo tres medallas de oro. Su estilo más maduro evolucionó hacia el romanticismo en sus temas, ejemplo de ello «Albaydé» para él qué se inspiro en un poema de Victor Hugo. <br><br>
                        Sus obras alcanzaron una enorme cotización entre coleccionistas públicos y privados de todo el mundo. siendo uno de los artistas favoritos de Napoleón III y Eugenia de Montijo. <br><br>
                        Entre 1868 y 1888 fue en 17 ocasiones miembro del jurado del Salón de París, en el cual le fue concedida la medalla de honor en 1865, 1867 y 1878.<br><br>
                        Declarado enemigo del naturalismo y del impresionismo, y sobre todo de Edouard Manet, fue a su vez cuestionado y criticado por los naturalistas y por Émile Zola; las tendencias que avanzaban en esos años y que defendían un arte más social, más exigente y menos empalagoso y galante.<br><br>
                        Fue maestro de muchos e importantes pintores, entre otros: Vlaho Bukovac, Édouard Debat-Ponsan, Émile Friant, Jules Bastien Lepage, Henri Le Sidaner, Aristide Maillol, Henri Regnault.<br><br>
                        Murió en París, el 23 de enero de 1889.<br><br>

                    </p>
                </div>
            </article>
            <article class="pbox">
                <div id="pintor">
                    <img src="images/MaxErnst_perfil.jpg" alt="">
                </div>
                <div id="btext">
                    <h1 id="Max">Max Ernst</h1>
                    <p>
                        Max Ernst (Brühl, Alemania, el 2 de abril de 1891 - París, Francia, el 1 de abril de 1976) fue un artista alemán nacionalizado francés considerado figura fundamental tanto en el movimiento dadá como en el surrealismo. A lo largo de su variada carrera artística, Ernst se caracterizó por ser un experimentador infatigable, utilizando una extraordinaria diversidad de técnicas, estilos y materiales. En todas sus obras buscaba los medios ideales para expresar, en dos o tres dimensiones, el mundo extradimensional de los sueños y la imaginación.<br><br>
                        Nacido en Brühl, cerca de Colonia, en 1891, era hijo de Philip Ernst, maestro de sordos y pintor vocacional. Ingresó en 1909 en la Universidad de Bonn donde estudió filosofía, historia del arte, literatura y psiquiatría. De esta época datan sus primeras obras, cuya filiación expresionista revela la huella de su amistad con August Macke, miembro de El Jinete Azul. La famosa exposición del Sonderbund de 1912, que se celebró en Colonia, proporcionó a Ernst la ocasión de conocer directamente obras de Cézanne, Van Gogh, Gauguin, Munch y Picasso.<br><br>
                        Se alistó en el ejército alemán durante la Primera Guerra Mundial. Cuando Ernst dejó el ejército ya había surgido en Suiza el movimiento dadá; atraído por la revolución dadaísta contra lo convencional, Ernst se instaló en Colonia y comenzó a trabajar en el collage.<br><br>
                        En 1922 se trasladó a vivir a París, donde comenzó a pintar obras surrealistas en las que figuras humanas de gran solemnidad y criaturas fantásticas habitan espacios renacentistas realizados con detallada precisión (L'eléphant célèbes, 1921, Tate Gallery, Londres).<br><br>
                        En 1925 inventó el frottage (que transfiere al papel o al lienzo la superficie de un objeto con la ayuda de un sombreado a lápiz); más tarde experimentó con el grattage (técnica por la que se raspan o graban los pigmentos ya secos sobre un lienzo o tabla de madera). Ernst fue encarcelado tras la invasión de Francia por los alemanes durante la Segunda Guerra Mundial; en la prisión trabajó en la decalcomanía, técnica para transferir al cristal o al metal pinturas realizadas sobre un papel especialmente preparado.<br><br>
                        Recurrió luego al collage en tres novelas en imágenes: La Femme 100 têtes (La mujer 100 cabezas, 1929), Rêve d'une petite fille qui voulut entrer au Carmel (Sueño de una niña que quiso entrar en el Carmelo, 1930) y Une semaine de bonté ou les sept éléments capitaux (Una semana de bondad o los siete elementos capitales, 1934).<br><br>
                        En 1930, debutó como actor en el cine con La edad de oro (L' Age d' Or), segundo filme surrealista del director español Luis Buñuel, donde interpreta el papel del cruel jefe de los bandidos. Dicho film causó un verdadero escándalo en Francia, y fue prohibida por más de cincuenta años. Sin embargo, Ernst siguió colaborando en otros filmes de corte surrealista en los siguientes años.<br><br>
                        En 1941, después de haber tenido una relación sentimental con Leonora Carrington, su alumna, emigró a Estados Unidos con la ayuda de Peggy Guggenheim, que se convertiría en su tercera esposa en 1942.<br><br>
                        En 1946 se casó con Dorothea Tanning en una doble boda junto con la pareja Man Ray (fotógrafo) - Juliette Browner (bailarina y modelo). ​En 1953 Ernst y Tanning se fueron a vivir a Francia. A partir de entonces sus obras gozaron de una notable revalorización.<br><br>
                    </p>
                </div>
            </article>
            <article class="pbox">
                <div id="pintor">
                    <img src="images/JanVan_4.jpg" alt="">
                </div>
                <div id="btext">
                    <h1 id="Jan">Jan Van Eyck</h1>
                    <p>
                        Jan van Eyck fue un pintor flamenco que trabajó en Brujas. Está considerado como uno de los mejores pintores del norte de Europa del siglo XV y el más célebre de los Primitivos flamencos. Robert Campin, que trabajó en Tournai y los hermanos Van Eyck en Flandes, fueron las figuras de transición desde el gótico internacional a la llamada escuela flamenca. El estilo flamenco que se dio en los Países Bajos en el siglo XV se ha considerado tradicionalmente como la última fase de la pintura gótica. Otra corriente lo enmarca en lo que se ha dado en llamar prerrenacimiento. A este estilo pictórico del gótico tardío en el siglo XV, que anuncia el Renacimiento nórdico de Europa, también se le llama Ars nova.<br><br>
                        Jan van Eyck pertenecía a una familia de pintores. A menudo se ha relacionado con el pintor Hubert van Eyck, al que se considera su hermano, debido a que se cree que ambos provenían de la misma ciudad, Maaseik. En documentos de la corte borgoñona se menciona a otro hermano, Lambert van Eyck y se tiene la teoría de que pudo haber sido pintor y también que fue quien supervisó el cierre del taller de Jan van Eyck en Brujas. Otro pintor significativo, y bastante más joven, que trabajó en el sur de Francia, Barthélemy van Eyck, se cree que era un pariente suyo.<br><br>
                        Se desconoce la fecha del nacimiento de Van Eyck. Una tradición que se remonta a Lucas de Heere (1559) y Marcus Van Vaernewijck (1568) fija el lugar de nacimiento de Jan van Eyck en Maaseik, cerca de Maastricht, en la provincia de Limburgo, a orillas del río Mosa y perteneciente a la diócesis de Lieja. Nada se sabe sobre su formación como artista, ni siquiera si fue en Francia o en su tierra natal. Probablemente su formación fue en el campo de la miniatura, de la cual aprendió el amor por los detalles diminutos y por la técnica refinada, que se refleja incluso en las obras pictóricas. Se ha apuntado la posibilidad de que se formase en París, pero lo cierto es que no hay pruebas que lo acrediten.<br><br>
                        Sus primeros pasos artísticos se dieron en el mundo de la miniatura, en la época dominada por la tradición tardogótica francesa. De este primer período sólo quedan las miniaturas del Libro de Horas de Turín. Su datación y comitente no quedan claros. Se ha apuntado la posibilidad de que lo encargara el duque Guillermo IV de Baviera antes de 1417. Sin embargo, generalmente se entiende que fueron ejecutadas en La Haya para el conde de Holanda, Juan de Baviera entre 1422 y 1424. La mayor parte de las miniaturas que contenía fueron destruidas por el fuego en 1904, aunque existen fotografías, pero otra parte del manuscrito se conserva en el Museo civico d'arte antica de Turín. En los mejores folios del libro miniado, atribuidos por Hulin de Loo al «maestro G» (posiblemente, Jan van Eyck), las figuras están ya plenamente integradas en un espacio realista, con una luz que unifica la representación y delinea con gran precisión y detalles diminutos la sala y las ocupaciones de los personajes. Queda claro que Van Eyck se planteaba, como Masaccio, el problema de la realidad: pero mientras el italiano hacía una síntesis que acogía la sola esencia de las cosas, preocupándose de colocarla en un espacio con perspectiva unitaria y racional, el flamenco procedía en lugar de ello analizando con lucidez y atención los singulares objetos como se presentan ante nuestros sentidos.<br><br>
                    </p>
                </div>
            </article>
        </section> 
    </main>

{{>footer}}
